main/pipeline/ArrayExpansion.json
{
	"name": "ArrayExpansion",
	"properties": {
		"description": "Breaking array and expanding, data flow used in the end to flatten",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText9",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ArrayofOrders",
								"value": {
									"value": "@range(int(split(item().OrderUnits, '..')[0]), add(sub(int(split(item().OrderUnits, '..')[1]), int(split(item().OrderUnits, '..')[0])), 1))\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"ArrayofOrders": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}